body
{
    background-color: #222222;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#container
{
    width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    width: 100%;
    margin: auto;
    /* background: radial-gradient(circle, rgba(2,88,255,1) 0%, rgba(34,34,34,1) 100%); */
}

.rectanglecopyright
{
    width: 100%;
    margin: auto;
}

.square
{
    width: 50%;
    float: left;
}

#logo
{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    width: 900px;
}

#zegar
{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 55px;
    margin-left: 50px;
}

.tile1
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(91,91,255,1) 0%, rgba(0,212,255,1) 100%);
    float: left;
    margin-left: 150px;
    text-align: center;
    border-radius: 19px 19px 19px 19px;
}

.tile1:hover
{
    background: radial-gradient(circle, rgba(56,255,237,1) 0%, rgba(31,148,255,1) 100%);
}

.tile2
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(91,91,255,1) 100%);
    float: left;
    text-align: center;
    border-radius: 19px 19px 19px 19px;
}

.tile2:hover
{
    background: radial-gradient(circle, rgba(56,255,237,1) 0%, rgba(31,148,255,1) 100%);
}

.tile3
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
}

.tile4
{
    margin: 10px;
    width: 482px;
    height: 142px;
    background: radial-gradient(circle, rgba(0,185,255,1) 0%, rgba(0,255,124,1) 100%);
    float: left;
    margin-left: 150px;
    text-align: center;
    border-radius: 19px 19px 19px 19px;
}

.tile4:hover
{
    background: radial-gradient(circle, rgba(0,255,124,1) 0%, rgba(0,185,255,1) 100%);
}

.tile5
{
    margin: 10px;
    width: 598px;
    height: 600px;
    background-color: #111111;
    clear: both;
    text-align: justify;
    padding: 30px;
    border-radius: 19px 19px 19px 19px;
}

.github
{
    margin: 5px;
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, rgba(255,0,52,1) 0%, rgba(0,42,255,1) 100%);
    float: left;
    margin-left: 10px;
    text-align: center;
    border-radius: 19px 19px 19px 19px;
}

.github:hover
{
    /*background-color: #d31414;*/
    background: radial-gradient(circle, rgba(0,42,255,1) 0%, rgba(255,0,52,1) 100%);
}

.raw
{
    margin: 5px;
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, rgba(255,0,52,1) 0%, rgba(0,42,255,1) 100%);
    float: left;
    margin-left: 10px;
    text-align: center;
    border-radius: 19px 19px 19px 19px;
}

.raw:hover
{
    /*background-color: #e4e011;*/
    background: radial-gradient(circle, rgba(0,42,255,1) 0%, rgba(255,0,52,1) 100%);
}

a.tilelink
{
    display: block;
    width: 230px;
    height: 142px;
    border-radius: 19px 19px 19px 19px;
    color: #ffffff;
    text-decoration: none;
}

a.tilelinkcloud
{
    display: block;
    width: 482px;
    height: 142px;
    border-radius: 19px 19px 19px 19px;
    color: #ffffff;
    text-decoration: none;
}

a.tilelinkgithub
{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 19px 19px 19px 19px;
    color: #ffffff;
    text-decoration: none;
}

a.tilelinkraw
{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 19px 19px 19px 19px;
    color: #ffffff;
    text-decoration: none;
}

a.tilelinkhtml5
{
    color: #ffffff;
    text-decoration: none;
}
