
.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-retweet:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\e803'; } /* '' */
.icon-cloud:before { content: '\e804'; } /* '' */
.icon-flash:before { content: '\e805'; } /* '' */